body {
  background: rgb(241, 236, 232);
  background: -moz-linear-gradient(top, rgba(241, 236, 232, 1) 0%, rgba(237, 234, 229, 1) 23%, rgba(234, 229, 225, 1) 35%, rgba(234, 229, 225, 1) 47%, rgba(227, 220, 214, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(241, 236, 232, 1) 0%, rgba(237, 234, 229, 1) 23%, rgba(234, 229, 225, 1) 35%, rgba(234, 229, 225, 1) 47%, rgba(227, 220, 214, 1) 100%);
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#switch {
  position: absolute;
  left: -9999px;
}

.switch {
  position: relative;
  display: block;
  width: 30px;
  padding: 15px;
  height: 19px;
  border-radius: 50%;
  margin: 100px auto;
  border-bottom: 4px solid #b2afaa;
  box-shadow: inset 0 2px 3px 0px #FFF, inset 0 -1px 2px 0px #999, 0 3px 3px -1px #222;
  cursor: pointer;
  background: -moz-linear-gradient(top, rgba(233, 228, 224, 1) 0%, rgba(233, 228, 224, 1) 67%, rgba(249, 244, 240, 1) 75%, rgba(239, 239, 239, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(233, 228, 224, 1) 0%, rgba(233, 228, 224, 1) 67%, rgba(249, 244, 240, 1) 75%, rgba(239, 239, 239, 1) 100%);
}

.switch:before {
  display: block;
  content: "";
  z-index: -1;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 68px;
  height: 68px;
  border-radius: inherit;
  border: 2px solid #eee;
  background: rgb(144, 136, 123);
  background: -moz-linear-gradient(top, rgba(144, 136, 123, 1) 0%, rgba(144, 136, 123, 1) 21%, rgba(154, 147, 131, 1) 29%, rgba(204, 193, 171, 1) 50%, rgba(213, 203, 178, 1) 55%, rgba(221, 211, 184, 1) 61%, rgba(221, 211, 184, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(144, 136, 123, 1) 0%, rgba(144, 136, 123, 1) 21%, rgba(154, 147, 131, 1) 29%, rgba(204, 193, 171, 1) 50%, rgba(213, 203, 178, 1) 55%, rgba(221, 211, 184, 1) 61%, rgba(221, 211, 184, 1) 100%);
}

.switch:after {
  content: "ON";
  position: absolute;
  top: -40px;
  left: 17px;
  color: #daaa18;
  font-family: "Verdana";
  text-shadow: 0 -1px 0 #999, 1px 1px 0 #FFF;
  font-size: 14px;
}

.switch .bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #daaa18;
}

i {
  float: left;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 1px 1px 0 #999;
  margin: 2px 1px 2px 3px;
}

i:nth-child(14), i:nth-child(15), i:nth-child(16), i:nth-child(17) {
  height: 1px;
}

#switch:checked+.switch {
  background: #ede8e2;
  border: 1px solid #6f6658;
  height: 30px;
  box-shadow: inset 0 2px 3px 0px #FFF, inset 0 -1px 2px 0px #999;
}

#switch:checked+.switch i {
  height: 3px;
}

#switch:checked+.switch:after {
  content: "OFF";
  color: #aaa;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

/*.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
